<%- include('partials/head') %> 

<% if (image) { %>
    <h1><%- header %></h1><br>
    <img src="<%- url %>/raw/<%- name %>" alt="Uploaded image">
<% } else if (text) { %>
    <h1><%- header %></h1><br>
    <code><%- content %></code>
<% } else if (video) { %>
    <h1><%- header %></h1>
    <video width="320" height="240" controls>
        <source src="<%- url %>/raw/<%- name %>" type="video/mp4">
      </video>
<% } else { %>
    <h1>Uncategorized file</h1>
    <h2><%- header %></h2><br>
    <img src="/img/question_mark.png" alt="Question Mark" height="200" width="200">
<% } %>

<p>Uploaded at <b><%- uploadedAt %> </b></p>
<a href="<%- url %>/raw/<%- name %>" target="_blank"><button class="btn"><i class="far fa-image"></i> View raw</button></a>
<a href="<%- url %>/dl/<%- name %>" target="_blank"><button class="btn"><i class="fas fa-cloud-download-alt"></i> Download</button></a>
<% if (loggedIn) { %>
    <p>Admin:</p>
    <div>
            <button class="btn" onclick="confirmDelete()" style="background-color: #ad0c00; border-color: #ad0c00;"><i class="fas fa-trash"></i> Delete</button>
            <button class="btn" onclick="rename()" style="background-color: #e08300; border-color: #e08300;"><i class="fas fa-arrow-circle-right"></i> Rename</button>
    </div>
    <script>
        function confirmDelete() {
            if (confirm("Are you sure you want to delete this file?")) {
                window.location = '<%- url %>/delete/<%- name %>?key=<%- delKey %>'
            }
        }

        function rename() {
            const newName = prompt("Enter the new name for this file:", "<%- name %>");
            if (newName == null || newName == "") {
                console.log('Prompt canceled')
            } else {
                window.location = `<%- url %>/rename/<%- name %>?name=${newName}&key=<%- delKey %>`
            }
        }
    </script>
<% } %>

<%- include('partials/footer') %> 